.button {
  background: none;
  border: solid 1px transparent;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 0.5em 1em;
  font-family: 'Roboto Condensed', sans-serif;

  &--submit {
    display: flex;
    border-color: lightseagreen;
    color: lightseagreen;
    margin: 1em 0 1em auto;
  }

  &--delete {
    font-family: sans-serif;
    background-color: transparent !important;
    border-color: lightpink;
    color: lightpink !important;
  }

}
