.mood {

  .mood__label {
    display: none;
  }

  &-grid [class^="mood--"] {
    display: inline-block;
    text-decoration: none;
    padding: 3px;

    .mood__label {
      display: none;
    }
  }

  &-link {
    text-decoration: none;

    .mood {
      display: inline-block;
      text-decoration: none;
      padding: 3px;

      .mood__label {
        display: none;
      }
    }
  }
}
