$bg-color: tomato;

.timeline-item {
  display: flex;
  margin-bottom: 3em;

  &__time {
    width: 3.3em;
    text-align: right;
  }

  &__mood {
    border-radius: 100%;
    width: 2em; height: 1.6em;
    position: relative;
    top: -0.2em;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6em;
    font-family: 'Verdana';
    background: white;
  }

  &__content {

  }

  &__tag {
    background: $bg-color;
    border-radius: 2px;
    display: inline-block;
    margin: 0 0.2em 0 0;
    padding: 0.2em 0.5em;
    color: white;
    text-decoration: none;
  }

  &__location {
    font-size: 0.5em;
    text-transform: uppercase;
    margin: 0.75em 0 1em;

    &:empty {
      display: none;
    }
  }



  // &--add {
  //   .timeline-item {
  //
  //     &__time {
  //       &:before {
  //         content: '+';
  //         line-height: 1em;
  //         border: dotted 1px #aaa;
  //         right: -1.6em;
  //       }
  //     }
  //
  //   }
  // }
}
