$timeline-line-left: 5.6rem;

.timeline {

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: $timeline-line-left;
    border-left: solid 1px #333;
    height: 100vh;
  }
}
