@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
.mood .mood__label {
  display: none; }

.mood-grid [class^="mood--"] {
  display: inline-block;
  text-decoration: none;
  padding: 3px; }
  .mood-grid [class^="mood--"] .mood__label {
    display: none; }

.mood-link {
  text-decoration: none; }
  .mood-link .mood {
    display: inline-block;
    text-decoration: none;
    padding: 3px; }
    .mood-link .mood .mood__label {
      display: none; }

.timeline:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 5em;
  border-left: solid 1px #333;
  height: 100vh; }

.timeline-item {
  display: flex;
  margin-bottom: 3em; }
  .timeline-item__time {
    width: 3.3em;
    text-align: right; }
  .timeline-item__mood {
    border-radius: 100%;
    width: 2em;
    height: 1.6em;
    position: relative;
    top: -0.2em;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6em;
    font-family: 'Verdana';
    background: white; }
  .timeline-item__tag {
    background: tomato;
    border-radius: 2px;
    display: inline-block;
    margin: 0 0.2em 0 0;
    padding: 0.2em 0.5em;
    color: white;
    text-decoration: none; }
  .timeline-item__location {
    font-size: 0.5em;
    text-transform: uppercase;
    margin: 0.75em 0 1em; }
    .timeline-item__location:empty {
      display: none; }

.link-list__item {
  display: inline-block;
  font-size: 0.8em;
  color: #333; }

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300; }

.section-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  border-bottom: dotted 1px grey; }

.full-input {
  display: block;
  width: 100%; }
