@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Dosis');

body {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
}
.serif-font {
  font-family: 'Dosis', sans-serif;
}
.buckets {
  display: flex;
  flex-wrap: wrap;
}
.buckets .photoset {
  margin: 1em;
}
.photoset {
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
}
.photoset a {
  font-size: 0.5em;
  color: #aaa;
  display: block;
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex > * {
  min-width: 20%;
  padding: 1em;
}

.collage {
  display: block;
  max-height: 100vh;
  overflow: scroll;
}
.collage-header {
  font-size: 1.6em;
}
.locations {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
  margin-top: 1em;
  max-height: 90vh;
  overflow: scroll;
}

.locations a {
  display: block;
}

.small-collage {
  display: flex;
  flex-wrap: wrap;
}
.small-collage img {
  margin: 0;
}
.small-collage a {
  display: inline-block;
  max-height: 150px;
}

.locked-scroll {
  max-height: 100vh;
  overflow: scroll;
}

.total {
  font-size: 1.4em;
  color: firebrick;
  letter-spacing: 0.02em;
}

.active-category {
  position: relative;
}
.active-category:after {
  top: 0.6em;
	left: -1em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-left-color: black;
	border-width: 0.8em;
	margin-top: -0.8em;
}
