@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Dosis');

body {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
}

.flex {
  display: flex;
}
.flex > * {
  min-width: 20%;
  padding: 1em;
}

.collage {
  display: block;
  max-height: 100vh;
  overflow: scroll;
}
.collage-header {
  font-size: 1.6em;
}
.locations {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
  margin-top: 1em;
  max-height: 90vh;
  overflow: scroll;
}

.locations a {
  display: block;
}

.total {
  font-size: 1.4em;
  color: firebrick;
  letter-spacing: 0.02em;
}
