.task-list {
  
  &--today {
  
  }
  
  &--tomorrow {
    opacity: 0.5;
    
    .task-list {
      &__title {
        font-size: 1em;
      }
      &__item {
        cursor: help;
      }
    }
  }
  
  &__title {
    margin: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: solid 0.1em black;
  }
  
  &__list {
    &:hover {
      .task-list__item {
        opacity: 0.7;
      }
    }
  }
  
  &__item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.2em;
    margin: 0.2em 0;
    border: solid 1px transparent;
    border-radius: 0.1em;
    
    &:hover {
      border-color: lightgrey;
      opacity: 1 !important;
    }
  }
  
}